*{
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background:linear-gradient(0.9turn, #3f87a6a1, #3f87a6);
}

/* HEADER */
header{
    width: 90%;
    height: 8vh;
    padding: 1% 5% 1% 5% ;
    margin-bottom: 5vh;
    background: linear-gradient(0.9turn, #0874a3, #3f87a6c5, transparent);
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 29%;
}

header h1{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 200;
}

form{
    width: 15%;
    border: none;
}

input{
    width: 100%;
    height: 4vh;
    padding: 0 2% 0 5%;
    border: none;
    border-radius: 15px;
}

/* CONTENTs */

#first_data{
    color: aliceblue;
    text-align: center;
}

#first_data h1{
    letter-spacing: 3px;
}

#ville{
    font-size: 50px;
}

#temp{
    font-size: 45px;
}

.wrap-temp{
    display: flex;
    gap: 2%;
}

.wrap-temp-min-max{
    width: 6%;
    display: flex;
    gap: 1%;
    color: #ffffff;
}

/* DESCRIPTIONS */

#descriptions{
    width: 50%;
    padding: 2.5% 25% 2.5% 25%;
    display: flex;
    gap: 2.5%;
    flex-wrap: wrap;
}

#card{
    width: 25%;
    height: 15vh;
    padding: 3%;
    margin-top: 3%;
    border-radius: 10px;
    background: linear-gradient(0.9turn, #0874a3, #3f87a6);
    color: aliceblue;
    transition: 0.35s;
}

#card:hover{
    width: 26%;
    height: 16vh;
    cursor: pointer;
}

#card p{
    margin: 4%;
}

/* FOOTER */

footer{
    width: 90%;
    height: 15vh;
    padding: 0 5% 0 5%;
}